*{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
.Banner{
    position: relative;
    width: 100%;
    height: auto;
}
.Banner img {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: 100%;
    object-fit: cover; 
    display: block;
}
.content{
    margin:4vw;
    display: flex;
}
.nav{
    width: 30%;
    background-color:#000000;
    height: 85%;
}
.nav ul{
    list-style-type: none;
    margin: 4vw 2vw 4vw 2vw;
}
.nav li{
    margin: 2vw 0 2vw 0;
    
}
.nav a{
    text-decoration: none;
    color: white;
    font-size:2vw;
}
.nav a:hover{
    color: red;
    text-decoration: none;
}
.nav a:hover{
    text-decoration: underline;
}

/* CSS for toggle  */
.nav-form{
    width: 22%;
    background-color:#000000;
    height: auto;
    position: absolute;
    z-index: 1;
}
.nav-form ul{
    list-style-type: none;
    margin: 4vw 2vw 4vw 2vw;
}
.nav-form li{
    margin: 2vw 0 2vw 0;
    
}
.nav-form a{
    text-decoration: none;
    color: white;
    font-size:2vw;
}
.nav-form a:hover{
    color: red;
    text-decoration: none;
}
.nav-form a:hover{
    text-decoration: underline;
}
.toggle{
    margin: 1vw 0 0 6.6vw;
}
.toggle button{
    margin: 1vw 0 1vw 1vw ;
    width: 8vw;
    border: none;
    background-color: white;
}
.toggle img{
    width: 80%;
}
.toggle hr{
    background-color: white;
    border: none;
    height: 1px;
}
.toggle-form{
    margin:0;
}
.toggle-form button{
    margin: 1vw 0 1vw 1vw ;
    width: 8vw;
    border: none;
    background-color: white;
}
.toggle-form img{
    width: 80%;
}
.toggle-form hr{
    background-color: white;
    border: none;
    height: 1px;
}

.line{
    background-color: white;
    border: none;
    height: 1px;
}
.welcome{
    width: 70%;
    padding: 2vw;
}
.welcome h1{
    color: #000000;
    font-style: 'inria serif';
}
.welcome hr{
    background-color:#000000;
    border: none;
    height: 1px;
}
.welcome p{
    padding: 1vw 0 1vw 0;
    
}
.venue{
    margin: 4vw;
    display: flex;
}
.venue-description{
    width: 50%;
    height: auto;
    padding-right: 5vw;
}
.video{
    width: 50%;
    position: relative;
    overflow: hidden;
    padding: 1vw 1vw 50vh 1vw; /* 16:9 aspect ratio */
    height: 0;
}
.video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.venue hr{
    background-color:#000000;
    border: none;
    height: 1px;
}
.venue p{
    padding: 1vw 0 1vw 0;
    
}
@media screen and (max-width: 1000px) {
    .venue{
        flex-direction: column;
        margin-right: 4vw 5vw 4vw 4vw;
    }
    .venue-description{
        width: 100%;
        padding: 1vw;
    }
    .video{
        width: 100%;
        padding-bottom: 50vw;
    }
    .video iframe{
        width: 100%;
        display: block;
        padding: 1vw;
        padding-right: 1vw;
    }
  }
.Sponsers{
    width: 100%;
    min-height: 30vh;
    height: auto;
    background-color: #54585A;
    text-align:center;
    columns: white;
}
.Sponsers h1{
    padding-top: 10vh;
    color: white;
}

/* CSS for Form  */
.Form-Content{
    margin: 10% auto auto auto;
    width: 70%;
    border: #ffffff solid 0.5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.Form-Content h1{
    margin: 5vh 0 2vh 0;
    text-align: center;
    color: #000000;
    font-style: 'inria serif';
    font-size: 3vw;
}
#form-line{
    background-color: #000000;
    border: none;
    height: 2px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.form-container {
    max-width: 60%;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
}
input,select {
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
}
input:focus,textarea:focus,select:focus {
    outline: none;
    border-color: #4CAF50;
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}
textarea{
    padding: 1vw;
    border: 1px solid #ccc;
    border-radius: 4px;
}
@media screen and (max-width: 600px) {
    .Form-Content{
        width: 100%;
        border: none;
        padding-bottom: 10vh;
        margin: 0;
    }
    .Form-Content h1{
        font-size: 5vw;
    }
    .form-container{
        max-width: 80%;
    }
    .toggle{
        margin: 0;
    }
    .nav-form{
        width: 25%;
        padding: 5vw 3vw 5vw 3vw;
    }
    .nav-form li{
        font-size: 4vw;
    }
  }


  /* CSS for Speakers */
  .col{
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
  }
  .row{
    margin: 5vw auto 5vw auto;
    width: 100%;
    display: flex;
    text-align: center;
   
  }
  .speaker{
    margin: auto;
    padding-bottom: 10px;
    width: 20%;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .speaker img{
    width: 100%;
    
  }
  .speaker h3{
    color: #000000;
    font-style: 'inria serif';
    font-size: 1.7vw;
  }
  .speaker li{
    list-style-type: none;
  }
  .speaker a{
    color: red;
    text-decoration: none;
    font-style: 'inria serif';
    font-weight: bold;
    font-size: 2vw;
  }
  .speaker a:hover{
    color: black;
}
.head h1{
margin: 5vh 0 2vh 0;
text-align: center;
color: #000000;
font-style: 'inria serif';
font-size: 3vw;
}
.head hr{
background-color: #000000;
border: none;
height: 2px;
width: 40%;
margin-left: auto;
margin-right: auto;
}
  @media screen and (max-width: 800px) {
    .head h1{
        font-size: 7vw;
        margin: 1vh 0 1vh 0;
    }
  }

  /* Schedule */
.schedule{
    width: 60%;
    margin: 5vw;
}
.timeline{
    margin: 2vw;
}
.timeline li{
    font-size: 2vw;
}
