*{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
.Banner{
    position: relative;
    width: 100%;
    height: auto;
}
.Banner img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    display: block;
}
.content{
    margin:4vw;
    display: flex;
}
.nav{
    width: 30%;
    background-color:#3B82F6;
    height: 85%;
}
.nav ul{
    list-style-type: none;
    margin-left: 2vw;
    margin-top: 6vw;
    margin-bottom: 6vw;
    margin-right: 2vw;
}
.nav li{
    margin: 2vw 0 2vw 0;
}
.nav a{
    text-decoration: none;
    color: white;
    font-size:2vw;
}
.nav a:hover{
    text-decoration: underline;
}
.line{
    background-color: white;
    border: none;
    height: 1px;
}
.welcome{
    width: 70%;
    padding: 2vw;
}
.welcome h1{
    color: #3B82F6;
    font-style: 'inria serif';
}
.welcome hr{
    background-color:#3B82F6;
    border: none;
    height: 1px;
}
.welcome p{
    padding: 1vw 0 1vw 0;
    
}
.Sponsers{
    width: 100%;
    min-height: 30vh;
    height: auto;
    background-color: #54585A;
    text-align:center;
    columns: white;
}
.Sponsers h1{
    padding-top: 10vh;
    color: white;
}

/* CSS for Form  */
.Form{
    margin: 10% auto auto auto;
    width: 70%;
    border: #ffffff solid 0.5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.Form li{
    margin: 2vh 0 0 2vh;
    text-decoration: none;
    list-style-type: none;
    color: #3B82F6;
}
.Form a{
    color: #3B82F6;
    text-decoration: none;
}
.Form h1{
    margin: 5vh 0 2vh 0;
    text-align: center;
    color: #3B82F6;
    font-style: 'inria serif';
    font-size: 3vw;
}
.Form hr{
    background-color: #3B82F6;
    border: none;
    height: 2px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.form-container {
    max-width: 60%;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
}
input {
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}
@media screen and (max-width: 800px) {
    .Form{
        width: 100%;
        border: none;
        padding-bottom: 10vh;
        margin: 0;
    }
    .Form h1{
        font-size: 5vw;
    }
  }